.card {
  background-color: #4c2885;
  @apply text-white;
  background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 100%);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  max-width: 800px;
}
.avatar {
  border: 10px solid #2a2a72;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.info {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}

.info ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
