.repo {
  background-color: #2a2a72;
  border-radius: 5px;
  display: inline-flex;

  color: white;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
